 <div *ngIf="movieDetail?.title; else elseBlock" class="card">
    <div class="card-body">
        <div class="card bg-light">
            <div class="card-header card-header--display">{{movieDetail?.title ? movieDetail.title: 'header' }}
              <button routerLink="/addMovie" class="btn btn--display-right">Add New Movie</button>
            </div>
            <div class="row no-gutters">
              <div class="col-md-4">
                <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
              </div>
              <div class="col-md-12">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>       
                </div>
              </div>
            </div>
          </div>
    </div>
  </div> 
  <ng-template #elseBlock>
    <div class="alert alert-light" role="alert">
     Please click on a movie item to display additional
     details about the movie
    </div>
  </ng-template>


