@import '../styles/variables';
.navbar {
  .navba--font-color {
    color: $secondary-color
  } 
  .nav-pills 
  {
    .nav-link {
        color: $secondary-color;
    }
    .nav-link.active {
        color: $main-color;
        background-color: $secondary-color
  }
  } 
  .navbar-toggler {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
 .navbar .navbar-toggler {
    display: block;
    background-color: $secondary-color;
  }
}