<div class="card bg-light">
        <div class="card-header card-header--display">
            <span>
                Header
            </span>
            <button class="btn btn-primary btn--display-right" type="submit">Submit form</button>
        </div>
    <div class="card-body">
        <form class="needs-validation custom-form" novalidate>
            <div class="row no-gutters">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Movie Title</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="First name"
                        value="Mark" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">Release Date</label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">Movie Image</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username"
                            aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" rows="12"></textarea>
                      </div>
                </div>
            </div>
        </form>

    </div>
</div>